
.item-preview{
    padding: 70px 100px;

}
.item-img{
    max-width: 650px;
    margin-bottom: 15px;
}
.item-img img{
    width: 100%;
}
.item-preview h1{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.item-preview h3{
    margin-bottom: 8px;
}
.item-preview h2{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
}
.details p{
    color: #918e8e;
    text-align: justify;
}
