
.services{
    width: 100%;
    padding: 40px 100px;
}
.service-text{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 50px 20px;
}
.service{
    display: flex;
    flex-wrap: wrap;
}
