.portfolio{
    width: 100%;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my-text{
    padding: 40px 20px;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.filter-btns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}
.filter-btns li{
    margin: 0px 7px;
    padding: 3px 8px;
    text-transform: uppercase;
    background-color: #1f2e2e;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 4px inset #111616,
                3px 4px 1px inset #2e3b3b,
                2px 3px 2px inset #111616,
                4px 3px 1px inset #2e3b3b;
}
.filter-btns li:hover,
.filter-btns li.active{
    background-color: #121818;
}


/* =======filter portfolio items===== */
.filter-portfolio{
    display: flex;
}

