.contact{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 150px;
}

.MuiFormControl-root{
    margin-bottom: 30px !important;
}
.MuiFormControl-root label, 
#my-input,
#my-helper-text{
    color: #fff;
}
#my-input{
    border-bottom: 1px solid #fff;
    padding: 2px 15px;
}
.MuiOutlinedInput-notchedOutline {
    border-color: #ffffffcc !important;
}
.MuiInputBase-root textarea{
    color: #fff;
}
.contact-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-links h2{
    margin-bottom: 40px;
    font-weight: 400;
}
.contact-links a{
    font-size: 24px;
    color: #fff;
    width: 80%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.contact-links a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.contact-links .fb,
.contact-links .linkedin,
.contact-links .twitter,
.contact-links .github{
    margin-right: 10px;
}

