.banner{
    min-height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
}
.social-links{
    min-width: 100px;
    display: flex;
    flex-direction: column;
}
.social-links a{
    background-color: #162222;
    width: 50px;
    position: relative;
    transition: all 1s ease;
}
.icon-link{
    float: right;
    margin-bottom: 5px;
    padding: 2px;
}
.social-links a:hover{
    width: 90px;
}

.fb{
    color: #0d8de9;
}
.github{
    color: #5f5e5e;
}
.linkedin{
    color: #0b0be6;
}
.twitter{
    color: #1da1f2;
}


/* ============banner text section=========== */
.banner-text{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 50px;
}
.banner-text p{
    font-size: 1.3rem;
}
.highlight{
    color: #d61d99;
    font-size: 1.7rem;
}
.typed-text{
    font-size: 1.5rem;
    margin-top: 5px;
}
.typed-text.highlight{
    color: #d61d99;
}
.get-in-touch{
    margin-top: 40px;
    width: 140px;
    height: 35px;
    border: 1px solid #dedede;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.btn-animation,
.btn-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .5s ease-in;
    cursor: pointer;
}
.btn-hover{
    width: 0%;
}
.btn-animation{
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border: none;
    z-index: 10;
}

.get-in-touch:hover .btn-hover{  
    z-index: 9;
    background-color: #1c2c31;
    width: 100%;
}


/* ==============profile  image section ============== */
.profile-image{
    max-width: 350px;
}
.profile-image img{
    width: 100%;
}
