.header{
    background-color: 080b21;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-bottom: 1px solid #25113a;
}
.header .logo{
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}


/* ---------toggle button start---------- */
.toggle-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.bar{
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
}


/* ===========responsive navbar============= */
@media screen and (max-width: 800px) {
    .navbar{
        display: none;
    }
    .toggle-btn{
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .header{
        padding: 0px 50px;
    }
}