
@media screen and (max-width: 950px) {
    .services,
    .service-home{
        padding: 10px 60px !important;
    }

    /* ========about style======== */
    .skills-educations{
        padding: 10px 60px !important;
    }

}
@media screen and (max-width: 870px) {
    .services,
    .service-home{
        padding: 10px 30px !important;
    }

    /* ========portfolio style======== */
    .portfolio{
        padding: 10px 70px !important;
    }
}

@media screen and (max-width: 720px) {
    /* =====banner style==== */
    .banner-text p{
        font-size: 1.1rem !important;
    }
    .banner-text .highlight{
        font-size: 1.3rem !important;
    }

    /* ========services style======== */
    .service-text{
        font-size: 1.5rem !important;
    }

    /* ========portfolio style======== */
    .portfolio{
        padding: 10px 50px !important;
    }
    .item-preview{
        padding: 70px 60px !important;
    
    }

    /* ========about style======== */
    .intro-text{
        font-size: 1.4rem !important;
    }
    .skills-educations{
        padding: 10px 40px !important;
    }
}

@media screen and (max-width: 600px) {
    .header{
        padding: 0px 50px !important;
    }
    .social-links{
        display: none !important;
    }
    .contact{
        padding: 10px 80px !important;
    }
}
@media screen and (max-width: 480px) {

    /* ========header style======== */
    .header{
        padding: 0px 30px !important;
    }
    .header .logo{
        height: 50px !important;
    }
    .navbar nav #nav-link{
        font-size: 0.9rem !important;
    }

    /* ========banner style======== */
    .banner-text{
        padding: 0px 20px !important;
    }
    .banner-text p{
        font-size: .9rem !important;
    }
    .banner-text .highlight{
        font-size: 1.1rem !important;
    }
    .get-in-touch{
        max-width: 100px !important;
    }
    .btn-animation{
        font-size: 0.7rem !important;
    }

    /* ========services style======== */
    .services,
    .service-home{
        padding: 10px 15px !important;
    }
    .service-text{
        font-size: 1.3rem !important;
    }


    /* ========about style======== */
    .intro-text{
        font-size: 1rem !important;
    }
    .skills-educations{
        padding: 10px 20px !important;
    }
    .footer{
        padding: 10px 40px !important;
    }
}
@media screen and (max-width: 420px) {

    /* ========banner style======== */
    .banner-text p{
        font-size: 12px !important;
    }
    .banner-text .highlight{
        font-size: 14px !important;
    }
    .get-in-touch{
        max-width: 70px !important;
        height: 25px !important;
    }
    .btn-animation{
        font-size: 0.5rem !important;
    }
    
    /* ========contact style======== */
    .contact{
        padding: 10px 30px !important;
    }

    /* ========portfolio style======== */
    .portfolio{
        padding: 10px 30px !important;
    }
    .item-preview{
        padding: 40px 50px !important;
    
    }
}