
@media screen and (max-width: 950px) {
    .services,
    .service-home{
        padding: 10px 60px !important;
    }

    /* ========about style======== */
    .skills-educations{
        padding: 10px 60px !important;
    }

}
@media screen and (max-width: 870px) {
    .services,
    .service-home{
        padding: 10px 30px !important;
    }

    /* ========portfolio style======== */
    .portfolio{
        padding: 10px 70px !important;
    }
}

@media screen and (max-width: 720px) {
    /* =====banner style==== */
    .banner-text p{
        font-size: 1.1rem !important;
    }
    .banner-text .highlight{
        font-size: 1.3rem !important;
    }

    /* ========services style======== */
    .service-text{
        font-size: 1.5rem !important;
    }

    /* ========portfolio style======== */
    .portfolio{
        padding: 10px 50px !important;
    }
    .item-preview{
        padding: 70px 60px !important;
    
    }

    /* ========about style======== */
    .intro-text{
        font-size: 1.4rem !important;
    }
    .skills-educations{
        padding: 10px 40px !important;
    }
}

@media screen and (max-width: 600px) {
    .header{
        padding: 0px 50px !important;
    }
    .social-links{
        display: none !important;
    }
    .contact{
        padding: 10px 80px !important;
    }
}
@media screen and (max-width: 480px) {

    /* ========header style======== */
    .header{
        padding: 0px 30px !important;
    }
    .header .logo{
        height: 50px !important;
    }
    .navbar nav #nav-link{
        font-size: 0.9rem !important;
    }

    /* ========banner style======== */
    .banner-text{
        padding: 0px 20px !important;
    }
    .banner-text p{
        font-size: .9rem !important;
    }
    .banner-text .highlight{
        font-size: 1.1rem !important;
    }
    .get-in-touch{
        max-width: 100px !important;
    }
    .btn-animation{
        font-size: 0.7rem !important;
    }

    /* ========services style======== */
    .services,
    .service-home{
        padding: 10px 15px !important;
    }
    .service-text{
        font-size: 1.3rem !important;
    }
    .service-img{
        max-height: 70px !important;
    }
    .MuiTypography-h5{
        font-size: 1.1rem !important;
    }
    .MuiTypography-body2{
        font-size: 0.8rem !important;
    }


    /* ========about style======== */
    .intro{
        margin-bottom: 10px !important;
    }
    .intro-text{
        font-size: 1rem !important;
    }
    .skills-educations{
        padding: 10px 5px !important;
    }
    .skills-educations .section-title{
        font-size: 1.2rem !important;
        margin-bottom: 10px !important;
    }
    .skill{
        margin: 2px!important;
    }
    .skill h4,
    .percent-value{
        font-size: 0.8rem !important;
    }
    .skill-bar{
        height: 5px !important;
    }
    .education{
        padding: 10px 5px !important;
    }
    .edu-heading{
        font-size: 1rem !important;
    }
    
    .edu-institute{
        font-size: 0.9rem !important;
        font-weight: 600 !important;
    }
    .edu-description{
        font-size: 0.8rem !important;
    }

    /* =========portfolio style============ */
    .portfolio .my-text{
        font-size: 1.2rem !important;
        margin-bottom: 30px !important;
    }
    .filter-btns{
        margin-bottom: 20px !important;
    }
    .filter-btns li{
        margin: 2px !important;
        font-size: 0.8rem !important;
    }


    /* =======contact page style====== */
    .MuiFormControl-root{
        margin-bottom: 0px !important;
    }
    .contact #my-input{
        font-size: 0.9rem !important;
    }


    .footer{
        padding: 10px 40px !important;
    }
}
@media screen and (max-width: 420px) {

    /* ========banner style======== */
    .banner-text p{
        font-size: 12px !important;
    }
    .banner-text .highlight{
        font-size: 14px !important;
    }
    .get-in-touch{
        max-width: 70px !important;
        height: 25px !important;
    }
    .btn-animation{
        font-size: 0.5rem !important;
    }
    
    /* ========contact style======== */
    .contact{
        padding: 10px 30px !important;
    }

    /* ========services style======== */
    .services,
    .service-home{
        padding: 0px !important;
    }
    .service-text{
        font-size: 1.3rem !important;
    }

    /* ========portfolio style======== */
    .portfolio{
        padding: 10px 30px !important;
    }
    .item-preview{
        padding: 30px !important;
    
    }
    .item-preview h1{
        font-size: 1.4rem !important;
        margin-bottom: 10px !important;
    }
    .item-preview .details, h2{
        font-size: 1.1rem !important;
    }
    .details p{
        font-size: 0.9rem !important;
    }
}