
.navbar nav{
    display: flex;
}
.navbar nav a{
    margin: 0px 15px;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
}
.navbar nav a:hover,
.navbar nav a.active{
    color: aqua;
}
.navbar a.active::before{
    content: '';
    height: 3px;
    width: 50px;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}


