
.navbar nav{
    display: flex;
}
.navbar nav #nav-link{
    margin: 0px 15px;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
}
.navbar nav #nav-link:hover,
.navbar nav #nav-link.active{
    color: aqua;
}
.navbar #nav-link.active::before{
    content: '';
    height: 3px;
    width: 80%;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}



/* ===========responsive navbar============= */
@media screen and (max-width: 800px) {
    .header{
        height: 80px !important;
    }
    .header .logo{
        position: absolute;
        left: 10%;
        top: 0;
    }
    .navbar{
        width: 100%;
        min-height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #091316;
        z-index: 101 !important;
    }
    .navbar nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }
    .header .logo{
        height: 60px !important;
    }
    
    .toggle-btn{
        display: flex;
    }
    .banner{
        min-height: 80vh !important;
    }
}

