.banner{
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.social-links{
    min-width: 100px;
    display: flex;
    flex-direction: column;
}
.social-links a{
    background-color: #162222;
    width: 50px;
    position: relative;
    transition: all 1s ease;
}
.icon-link{
    float: right;
    margin-bottom: 5px;
    padding: 2px;
}
.social-links a:hover{
    width: 90px;
}
.fb{
    color: #0d8de9;
}
.github{
    color: #5f5e5e;
}
.linkedin{
    color: #0b0be6;
}
.twitter{
    color: #1da1f2;
}
